<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184062051188-el1o1gih1m6077cp0c3nv64lea3td4qm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184062051188-el1o1gih1m6077cp0c3nv64lea3td4qm</string>
	<key>API_KEY</key>
	<string>AIzaSyBTM2zWwbKFpB8MGI2Q87mrzleNRKnY6F4</string>
	<key>GCM_SENDER_ID</key>
	<string>184062051188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hredoy.Photo-hut</string>
	<key>PROJECT_ID</key>
	<string>photo-hut-395c5</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-hut-395c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184062051188:ios:9ae30225d1572728d06221</string>
	<key>DATABASE_URL</key>
	<string>https://photo-hut-395c5.firebaseio.com</string>
</dict>
</plist>