<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>620082478533-pb2c36cictb3bsvmqqv5anl83p22eul9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.620082478533-pb2c36cictb3bsvmqqv5anl83p22eul9</string>
	<key>API_KEY</key>
	<string>AIzaSyAcb6tW2f41Asyjkp6IEoTOi0Igi0OKV9A</string>
	<key>GCM_SENDER_ID</key>
	<string>620082478533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hredoy.photo-hut</string>
	<key>PROJECT_ID</key>
	<string>photo-hut-4678f</string>
	<key>STORAGE_BUCKET</key>
	<string>photo-hut-4678f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:620082478533:ios:41d7e3108299fb0d37dfac</string>
	<key>DATABASE_URL</key>
	<string>https://photo-hut-4678f.firebaseio.com</string>
</dict>
</plist>